@use "../../global" as *;
@use "../../partials" as *;

.navbar {
  .offcanvas {
    min-height: 0 !important;
  }
  .login_btn {
    @include font($nunito, 16, 600, normal, 24);
    letter-spacing: 0.24px;
    color: $primary;
    padding-right: 18px;
  }

  .nav-link {
    // color: #808082 !important;
    position: relative;
    padding: 3px 0 !important;
    margin: 4px 10px;
    transition: 0.3s;
    display: inline-block !important;
    &::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: $primary !important;
    }
    &:hover::after {
      width: 100%;
    }
  }
  .active {
    color: $primary !important;
    &::after {
      width: 100% !important;
    }
  }
}
#admin-navbar {
  display: flex;
  justify-content: space-between;
  .search {
    border-radius: 20px;
    border-radius: 19px;
    border: 0.6px solid #d5d5d5;
    background: #f5f6fa;
    padding-left: 2.2rem;
  }
  .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 10px;
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    .dropdown-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #646464;
      font-family: $nunito;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      .user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 5px;
        .name {
          color: #404040;
          font-family: $nunito;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .role {
          color: #565656;
          font-family: $nunito;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .flag {
      width: 40px;
      height: 27px;
      flex-shrink: 0;
    }
    .profile-pic {
      width: 50px;
      height: 52px;
      flex-shrink: 0;
      border-radius: 50%;
    }
  }
}
